$color-pinterest: rgb(189, 8, 28);
$white: rgb(255, 255, 255);
$gray-light: rgb(239, 239, 239);
$gray-dark: rgb(181, 181, 181);
$color-base: rgb(85, 85, 85);

.cap-color {
  background-color: $gray-light;
}