.flex {
  display: flex;
  overflow: hidden;
  &__column {
    flex-direction: column;
  }
  &__center {
    align-items: center;
    justify-content: center;
  }
  &__wrap {
    flex-wrap: wrap;
  }
}

$radius-borders: ('board': 8px, 'button': 100px, 'circle': 50%);

@mixin border-block($name, $radio) {
  .border {
    &--#{$name} {
      @if $name == 'button' {
        padding: 12px 16px;
      }
      border-radius: $radio;
    }
  }
}

@each $name, $radius in $radius-borders {
  @include border-block($name, $radius);
}

$size-profile: 168px;
$size-secondary: 60px;

.block {
  width: 256px;
  height: auto;
  margin: 0 auto;
  &__pin{
    width: 236px;
    height: auto;
  }
  &__responsive {
    width: 100%;
    &--profile {
      width: $size-profile;
      height: $size-profile;
    }
    &--secondary {
      width: $size-secondary;
      height: $size-secondary;
    }
  }
}

.padding {
  &__block {
    padding: 10px;
  }
}

.sub-header {
  margin-top: 70px;
  width: 100%;
}

@media (min-width:760px) {
  .sub-header {
    width: 760px;
    padding: 10px;
  }
}

/*
@media (min-width:800px) and (max-width: 1311px){
  .ancho {
    width: 800px;
  }
}

@media (min-width:1312px) and (max-width: 2000px){
  .ancho {
    width: 1312px;
  }
}
*/

