.container {
  width: 85%;
  margin: 0 auto;
}


header {
  * {
    display: inline-block;
  }
  input {
  position: absolute;
  height: 100%;
  border: none;
  right: 0;
  width: 97%;
  background: rgba(255, 255, 255, 0);
  @media (max-width:760px) {
    width: 90%;
  }
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $color-base;
    font-size: 16px;
    font-weight: 600;
  }
}
  .fa-search {
    font-size: 19px;
    color: $gray-dark;
  }
}
.flex {
  display: flex;
  &__column {
    flex-direction: column;
  }
  &__center {
    align-items: center;
    justify-content: space-around;
  }
}

$radius-borders: ('board': 8px, 'button': 100px, 'circle': 50%);

@mixin border-block($name, $radio) {
  .border {
    &--#{$name} {
      @if $name == 'button' {
        padding: 12px 16px;
      }
      border-radius: $radio;
    }
  }
}

@each $name, $radius in $radius-borders {
  @include border-block($name, $radius);
}

$size-profile: 168px;
$size-secondary: 60px;
$size-logo: 28px;

.block {
  width: 236px;
  height: auto;
  &__responsive {
    max-width: 100%;
    &--profile {
      width: $size-profile;
      height: $size-profile;
    }
    &--secondary {
      width: $size-secondary;
      height: $size-secondary;
    }

  }
}

.header {
  width: 100%;
  padding: 4px;
  height: 70px;
  position: fixed;
  border-bottom: 1px solid $gray-light;
  background: #fff;
  &__boxLogo {
    width: 48px;
  }
  &__boxIcon {
    &--icons {
      width: $size-logo;
      cursor: pointer;
      margin-right: 7px;
      margin-left: 7px;
      font-size: 27px;
      color: $gray-dark;

    }
  }
  &__boxInput {
    width: 85%;
    padding: 8px 14px;
    height: 38px;
    background: $gray-light;
    &--input {
      position: relative;
      width: 100%;
      }
    &--span {
      position: absolute;
      left: 14px;
    }
  }
}

.padding {
  &__block {
    padding: 10px;
  }
}
