* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

@import "colors";
@import "flexbox";

.board-fixed {
  position: fixed;
  margin: auto;
}

.wrapper {
  overflow: hidden;
}
